body {
    background-color: #808080;
    background-image: url("myännujättenyarebg.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

#presRubrik
{
    position: absolute;
    font-size: 20px;
    margin-bottom: 100px;
    display: inline-block;
}

#presBild
{
    display: inline;
    width: auto;
    position: relative;
    
    margin-top: 50px;
    margin-left: 10px;
}

#id7 
{
    margin-left: 13px;
    margin-top:  2px;
}

#id8 
{
    position: absolute;
    font-size: 32px;
}


#id2
{
    margin-top: 3px;
}

#id3
{
    margin-top: -316px;
    margin-left: 400px;
}

#id4 
{
    margin-left: 400px;
}

*{
    box-shadow: 0 0 10px green;
}

