@{
    
}

<h1>Om oss på Cannabis-Online</h1>
<p>Vi är en liten verksamhet som befinner sig hemma hos André a.k.a. ANNO, mitt ute i ingenstans för den bästa möjliga odlingen
    av våran världsberömda marijuana. Det hela började med att ANNO fått sparken som lärare p.g.a. fisande under lektionstid. Han behövde
    då pengar snabbt för att kunna betala för sitt hårutväxtmedel som ändå inte verkar fungera. Så han hyr ut sitt hem mot en jätteliten andel av den stora vinsten vi drar in. 
    Platsen är perfekt eftersom att polisen aldrig skulle misstänka en gammal mans bakgård som en verksamhet av cannabis ;)</p>