@{
    
}

<div class="welcome">
    <h1>VÄLKOMMEN TILL CANNABIS-ONLINE</h1>
</div>

<ul class="bxslider">
    <li><img src="annoshar.PNG" /></li>
    <li><img src="Oregano.PNG" /></li>
    <li><img src="Konstgjort.PNG" /></li>
</ul>
<div class="buythese">
    <h1>Veckans erbjudande: ANNO's HÅR !!</h1>
    <h2>(Passa på innan det blir slutsålt)</h2>
    <h3>För att se alla produkter <a href="products.cshtml">klicka här</a></h3>
</div>